/* @group FONT-FACES */

	/*
	 * fonts:
	 *  - synthese 400,600
	 *  - libesans condensed 400,200
	 *  - libesans semicondensed 400,800
	 *  - libetypewriter 400
	 *  - libetypewriter underline 400
	*/

	@font-face {
		font-family: 'syntheselibeweb';
		src: url('fonts/syntheselibeweb-regular.woff') format('woff'),
			 url('fonts/syntheselibeweb-regular.ttf') format('truetype');
				 
		font-style: normal;
		font-weight: 400;
	}

	@font-face {
		font-family: 'syntheselibeweb';
		src: url('fonts/syntheselibeweb-bold.woff') format('woff'),
			 url('fonts/syntheselibeweb-bold.ttf') format('truetype');
				 
		font-style: normal;
		font-weight: 600;
	}

	@font-face {
		font-family: 'libesansweb-condensed';
		src: url('fonts/libesansweb-condensed-regular.woff') format('woff'),
			 url('fonts/libesansweb-condensed-regular.otf') format('opentype');
				 
		font-style: normal;
		font-weight: 400;
	}

	@font-face {
		font-family: 'libesansweb-condensed';
		src: url('fonts/libesansweb-condensed-light.woff') format('woff'),
			 url('fonts/libesansweb-condensed-light.otf') format('opentype');
				 
		font-style: normal;
		font-weight: 200;
	}
	
	@font-face {
		font-family: 'libesansweb-semicondensed';
		src: url('fonts/libesansweb-semicondensed-regular.woff') format('woff'),
			 url('fonts/libesansweb-semicondensed-regular.otf') format('opentype');
				 
		font-style: normal;
		font-weight: 400;
	}

	@font-face {
		font-family: 'libesansweb-semicondensed';
		src: url('fonts/libesansweb-semicondensed-black.woff') format('woff'),
			 url('fonts/libesansweb-semicondensed-black.otf') format('opentype');
				 
		font-style: normal;
		font-weight: 800;
	}
	
	@font-face {
		font-family: 'libetypewriter-regular';
		src: url('fonts/libetypewriter-regular.woff') format('woff'),
			 url('fonts/libetypewriter-regular.otf') format('opentype');
				 
		font-style: normal;
		font-weight: 400;
	}

	@font-face {
		font-family: 'libetypewriter-regular-underline';
		src: url('fonts/libetypewriterweb-regularunderline.woff') format('woff'),
			 url('fonts/libetypewriterweb-regularunderline.otf') format('opentype');
				 
		font-style: normal;
		font-weight: 400;
	}

	@font-face {
		font-family: 'libesansweb-black';
		src: url('fonts/libesansweb-black.woff') format('woff'),
			 url('fonts/libesansweb-black.otf') format('opentype');
				 
		font-style: normal;
		font-weight: 400;
	}

    @font-face {
      font-family: 'LibeSans-Ultra';
		src: url('fonts/LibeSans-Ultra.woff') format('woff'),
			 url('fonts/LibeSans-Ultra.otf') format('opentype');
      font-weight: bold;
    }

	@font-face {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Oswald-Regular.woff') format('woff');
	}

	@font-face {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 500;
		src: url('fonts/Oswald-Medium.woff') format('woff');
	}

	@font-face {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 600;
		src: url('fonts/Oswald-SemiBold.woff') format('woff');
	}

	@font-face {
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 400;
		src: url('fonts/Roboto-Italic.woff') format('woff');
	}

	@font-face {
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 400;
		src: url('fonts/Roboto-Regular.woff') format('woff');
	}

	@font-face {
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 500;
		src: url('fonts/Roboto-Medium.woff') format('woff');
	}

/* @end FONT-FACES */
