/**************************************************************
 **************************************************************
 ****
 ****
 ****  LIBÉ SANS
 ****
 ****
 **************************************************************
 **************************************************************/

/* * * * * * * NORMAL STRETCH * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-italic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-italic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-italic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-bolditalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-bolditalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-bolditalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-bolditalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-blackitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-blackitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-blackitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-blackitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-ultraitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-ultraitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-ultraitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-ultraitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-ultraitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/libe-sans/libesansweb-lightitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans/libesansweb-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans/libesansweb-lightitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans/libesansweb-lightitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans/libesansweb-lightitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * CONDENSED * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-italic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-italic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-italic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: italic;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-bolditalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-bolditalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-bolditalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-bolditalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: italic;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-blackitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-blackitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-blackitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-blackitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: italic;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-ultraitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-ultraitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-ultraitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-ultraitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-ultraitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: italic;
  font-stretch: condensed;
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-lightitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--condensed/libesanswebcondensed-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-lightitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-lightitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--condensed/libesanswebcondensed-lightitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * SEMI-CONDENSED * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: italic;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-italic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-italic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-italic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: italic;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bolditalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bolditalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bolditalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-bolditalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: italic;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-blackitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-blackitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-blackitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-blackitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: italic;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultraitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultraitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultraitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultraitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-ultraitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: italic;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-lightitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-lightitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-lightitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--semi-condensed/libesanswebsemicondensed-lightitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * EXTRA-CONDENSED * * * * * * */

/* Ultra */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: normal;
  font-stretch: extra-condensed;
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: italic;
  font-stretch: extra-condensed;
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultraitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultraitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultraitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultraitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-ultraitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: normal;
  font-stretch: extra-condensed;
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: italic;
  font-stretch: extra-condensed;
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-lightitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-lightitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-lightitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extra-condensed/libesanswebxcondensed-lightitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * EXTENDED * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 400;
  font-style: italic;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-italic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-italic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-italic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 600;
  font-style: italic;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-bolditalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-bolditalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-bolditalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-bolditalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 800;
  font-style: italic;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-blackitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-blackitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-blackitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-blackitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 900;
  font-style: italic;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-ultraitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-ultraitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-ultraitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-ultraitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-ultraitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Sans';
  font-weight: 200;
  font-style: italic;
  font-stretch: expanded;
  src: url('../fonts/libe-sans--extended/libesanswebextended-lightitalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans--extended/libesanswebextended-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans--extended/libesanswebextended-lightitalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-lightitalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans--extended/libesanswebextended-lightitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/**************************************************************
 **************************************************************
 ****
 ****
 ****  LIBÉ SANS ROND
 ****
 ****
 **************************************************************
 **************************************************************/

/* * * * * * * NORMAL STRETCH * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans-rond/libesanswebrond-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond/libesanswebrond-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond/libesanswebrond-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans-rond/libesanswebrond-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond/libesanswebrond-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond/libesanswebrond-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans-rond/libesanswebrond-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond/libesanswebrond-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond/libesanswebrond-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans-rond/libesanswebrond-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond/libesanswebrond-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond/libesanswebrond-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-sans-rond/libesanswebrond-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond/libesanswebrond-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond/libesanswebrond-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond/libesanswebrond-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * CONDENSED * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 600;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 800;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 200;
  font-style: normal;
  font-stretch: condensed;
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--condensed/libesanswebrondcondensed-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * SEMI-CONDENSED * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 400;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 600;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 800;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 900;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 200;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--semi-condensed/libesanswebrondsemicondensed-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * EXTRA-CONDENSED * * * * * * */

/* Ultra */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 900;
  font-style: normal;
  font-stretch: extra-condensed;
  src: url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 200;
  font-style: normal;
  font-stretch: extra-condensed;
  src: url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--extra-condensed/libesanswebrondxcondensed-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* * * * * * * EXTENDED * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 400;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 600;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Black */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 800;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-black.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-black.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-black.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 900;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Libe-Sans-Rond';
  font-weight: 200;
  font-style: normal;
  font-stretch: expanded;
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-sans-rond--extended/libesanswebrondextended-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-sans-rond--extended/libesanswebrondextended-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/**************************************************************
 **************************************************************
 ****
 ****
 ****  LIBÉ TYPEWRITER
 ****
 ****
 **************************************************************
 **************************************************************/
 
/* * * * * * * NORMAL STRETCH * * * * * * */

/* Regular */
@font-face {
  font-family: 'Libe-Typewriter';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-typewriter/libetypewriterweb-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-typewriter/libetypewriterweb-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-typewriter/libetypewriterweb-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Typewriter';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/libe-typewriter/libetypewriterweb-italic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-typewriter/libetypewriterweb-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-typewriter/libetypewriterweb-italic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-italic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Libe-Typewriter';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/libe-typewriter/libetypewriterweb-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-typewriter/libetypewriterweb-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-typewriter/libetypewriterweb-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Libe-Typewriter';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/libe-typewriter/libetypewriterweb-bolditalic.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/libe-typewriter/libetypewriterweb-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libe-typewriter/libetypewriterweb-bolditalic.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-bolditalic.woff') format('woff'), /* Modern browsers */
       url('../fonts/libe-typewriter/libetypewriterweb-bolditalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/**************************************************************
 **************************************************************
 ****
 ****
 ****  SYNTHÈSE
 ****
 ****
 **************************************************************
 **************************************************************/

/* * * * * * * NORMAL STRETCH * * * * * * */

/* Regular */
@font-face {
  font-family: 'Synthese';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-regular.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Synthese';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-oblique.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-oblique.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-oblique.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-oblique.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Bold */
@font-face {
  font-family: 'Synthese';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-bold.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-bold.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-bold.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Synthese';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-boldoblique.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-boldoblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-boldoblique.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-boldoblique.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-boldoblique.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Ultra */
@font-face {
  font-family: 'Synthese';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-ultra.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-ultra.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-ultra.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-ultra.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Synthese';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-ultraoblique.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-ultraoblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-ultraoblique.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-ultraoblique.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-ultraoblique.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Light */
@font-face {
  font-family: 'Synthese';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-light.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-light.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-light.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Synthese';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/synthese/syntheselibeweb-lightoblique.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/synthese/syntheselibeweb-lightoblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/synthese/syntheselibeweb-lightoblique.woff2') format('woff2'), /* Super modern browsers */
       url('../fonts/synthese/syntheselibeweb-lightoblique.woff') format('woff'), /* Modern browsers */
       url('../fonts/synthese/syntheselibeweb-lightoblique.ttf')  format('truetype'); /* Safari, Android, iOS */
}
